.button {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    background: #444;
    color: #fff;
    border: none;
    margin: 5px;
}

.button:hover {
    background: #9307af;
    
}

.gray {
    background: #242424;
}

.gray:hover {
    background: #333;
}

.purple {
    background: #b40bd6;
}

.purple:hover {
    
    background: #9307af;
}

.zero {
    width: 110px;
    border-radius: 100px;        
}