.calculator {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    background: #111;
    border-radius: 0px 0px 6px 6px;
    padding: 10px;
}

.result {
    width: 260px;
    background: #111;
    border-radius: 6px 6px 0 0;
    padding: 10px;
}

.result h1 {
    text-align: end;
    padding: 4px;
    color: #fff;
    background: #333;
    border-radius: 6px;
}

.result h1 {
    height: 50px;
}